

.red{
  color: red;
	display: block;
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
}


.action{
	background-color: #2098D1;
	color: white;
	border-style: none;
	padding: 5px;
	width: 10vw;
	height: 50px;
	cursor: pointer;
  border-radius: 5px;
}

.action:hover{
	background-color: #1b5790;
}

.td_action{
	background-color: inherit;
	width: 8vw;
}

h2{
	display: block;
	width: 90%;
	color: red;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	font-size: 30px;
}


.section_title{
	margin-bottom: 30px;
}

#valider_modal{
  border-radius: 5px;
	background-color: #32CD32;
  color: #fff;
	border-style: none;
	width: auto;
	padding: 0px 15px 0px 15px;
	font-size: 30px;
	height: 50px;
	margin-top: 30%;
	float: right;
	cursor: pointer;
}


#valider_modal:hover{
	background-color: #228B22;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}

.content h2{
	color: red;
	margin-bottom: 30px;
}

.content p{
	font-size: 17px;
	text-align: center;
	color: green;
	margin-bottom: 30px;
}

.departement{
	display: block;
	padding: 10px;
	margin-bottom: 30px;
}

.societe{
	padding: 10px;
	display: block;
}

select{
	width: auto;
	padding: 5px;
}

.depart_soc label{
	font-size: 18px;
	margin-right: 30px;
}

.info_tab{
  width: 100%;
}

.info_tab p{
  display: inline-block;
  width: auto;
  margin-right: 30px;
}

.circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.circle_black{
  background: black;

}
.circle_red{
  background: red;
  margin-left: 30px;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 90%;
  }
}
