
h2{
	display: block;
	width: 90%;
	color: red;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	font-size: 30px;
	margin-bottom: 30px;
}


section{
	display: inline-block;
	height: 100vh;
}

.section1{
	width: 30%;
	float: left;
}

.section2{
	width: 70%;
	float: right;
}

.form_rechercher{
	border-style: solid;
	border-color: #F0FFFF;
	border-radius: 6px;
	display: block;
	width: 80%;
	margin: auto;
	background: linear-gradient(to bottom,#639EDB,#0668CF) no-repeat;
	padding: 10px;
}


.ok{
	background-color: #32CD32;
	border-style: none;
	width: auto;
	padding: 0px 10px 0px 10px;
	font-size: 20px;
	height: 50px;
	margin-bottom: 30px;
	cursor: pointer;
	color: #ffffff;
	border: 0;
	border-radius: 6px;
}

.ok:hover{
	background-color: #228B22;
}

.clean_search{
	margin-left: auto;
	margin-bottom: -40px;
}

.clean_search_form{
	width: 98%;
	margin: auto;
}

label{
	display: block;
	width: 60%;
	margin: auto;
	font-size: 18px;
	color: #fff;
}

input {
	display: inline-block;
	margin-left: 30px;
	margin-right: 20%;
	margin-bottom: 20px;
	margin-top: 20px;
}


.input{
	height: 40px;
	border-style: none;
	background: #1566BB;
	color: #ffffff;
	border: 0;
	border-radius: 6px;
	text-align: center;
}

table{
	width: 98%;
}


td{
	width: 28%;
}

.entete{
	background-color: #4CAF50;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

input[list]{
  background: #1566BB;
  font: 16px Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.place_holder{
	display: inline-block;
	width: 100%;
}

.division_search{
	color: rgba(27, 87, 144, 1);
	margin-bottom: 30px;
	font-size: 26px;
	text-align: center;
	width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

/* CSS pris sur internet pour le form à gauche dans la page de recherches	*/
.check {
  bottom: 0;
  display: flex;
  left: calc(50% + 40px);
  margin-bottom: 10px;
  position: absolute;
}


.container {
  position: relative;
	padding: 5px;
  margin: 20px;
  overflow: hidden;
}
.hidden {
  display: none;
}
.entry {
  height: auto;
  position: absolute;
  width: auto;
	font-size: 16px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.circle {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}
.overlay {
  /* background: #fff; */
  mask: url(#holes);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAACMCAYAAAAOc+uVAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAItSURBVHic7ZnNjhJBFIVPA0txr0Iyw+tIdOXWaDRufZWZeYbZuMKOUV9Gg+HHGN/BHBcNcSBT1KVOEVycb0mq635UVd9U5zQkif+Y3rkFclhQxYIqFlQZiM8vALQAPgP4AWC1+X0E4ALAFMBzAOPiCixjRfIdyX5g/h7JFyTnJYVKBGckHxQsxJBke2rBK5LF55bdal6fSnCmyO1JhlcyKrhkwbYekBySXNcUfF1L7o7k20jhhsxetxYAJk3T/Kks2EfXmkaHxkXO1MfacgCwmbPNjYsIftV1knzJDYgIfqsgkuJ7bkBE8FcFkRTr3IBzXxay9SOCjyuIFM8dEZxUECmeOyL4tIJIimluQKRRLwFcnqBRDwDMUaFRjwG8quC0zxtk5ACEL6wrksNaZiQfkvwZKRxtM08AfGDgBh2Q6wG4BfAo+sAxXB/xp+6VI3lzTMGSK3/Lgu1mt62fji1W+tH0m+R7dm9iZNVeMnjm9om0mUOs8O+zc47dz84Juh76DJG3NYEqeHLOfVnIYkEVC6pYUMWCKhZUsaCKBVUsqGJBFQuqWFDFgipO3OnEfRcn7qWCTtxTOHFP4cS9Ek7cVZy4qzhxL4ZO3AXoxF2QoxP3DifuW5y4q1hQxYIqFlSxoIoFVSyoYkEVC6pYUMWCKhZUsaCKE3c6cd/FiXupoBP3FE7cUzhxr4QTdxUn7ipO3IuhE3cBOnEX5OjEvcOJ+xYn7ioWVLGgigVV/gKEL4RSyM8Z8wAAAABJRU5ErkJggg==);
  height: 140px;
  pointer-events: none;
  transition: background 300ms;
  width: 40px;
}
.highlight {
  background: #545556;
  border-radius: 50%;
  height: 12px;
  left: 14px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(100px);
}
.hidden:nth-child(1):checked + .entry .circle {
  border-color: #545556;
}
.hidden:nth-child(3):checked + .entry .circle {
  border-color: #545556;
}
.hidden:nth-child(5):checked + .entry .circle {
  border-color: #545556;
}
.check:checked ~ .containerOuter .overlay {
  background: #ecf0f4;
}

/* CSS pris sur internet pour le form à gauche dans la page de recherches	*/



@media (max-width: 1000px) {
	.section1, .section2{
		display: block;
		width: 100%;
	}

	.form_rechercher{
		width: 90%;
		margin-top: 30px;
	}

	.section2{
		margin-top: -30px;
	}
}
